---
layout: layouts/post.njk
title: What I’m doing now
description: What is Tony Mottaz up to?
date: false
---

<h2>Planning a wedding</h2>

<p>On the 29th of January, I proposed to Alli, and she said yes!</p>
<p>
    Before March was over, we were able to secure a venue for the wedding and set a date. Since then,
    we have set a guest list, mailed our save-the-dates, and brainstormed many ideas for other parts
    of the day. It’s not as much as we would like to have done by now, but we still have plenty of
    time.
</p>

<h2>House projects</h2>

<p>
    In May, we purchased a house! Depending on your definition of “unpacked”, we were either
    unpacked very quickly, or we are still unpacking. We got everything out of the boxes and bins
    within the first few weeks of moving, but there is still a lot of stuff that needs to find a
    more permanent home.
</p>
<p>
    We have completed most of our immediate "must-do" projects, including installing a new ceiling
    fan, replacing the thermostat (with an <a href="https://www.ecobee.com/en-us/">Ecobee</a>), and
    building a fire pit.
</p>
<p>
    There is still a long list of projects we want to tackle, but we are settling in very well.
</p>

<h2>Timberwolves PACKcussion</h2>

<p>
    Last year, I joined Paul Weber as co-director of the
    <a href="https://www.nba.com/timberwolves/packcussion">Timberwolves PACKcussion drumline</a>.
    We did not field an ensemble last season, so I am counting this upcoming season as my first
    in this role. We are still accepting auditions!
</p>

<h2>Want to chat?</h2>

<p>
    You can <a href="mailto:contact@tonymottaz.com">write to me via email</a> at
    <strong>contact@tonymottaz.com</strong>.
</p>

<hr>

<p>
    This is a <a href="https://nownownow.com">“Now” page</a>.
</p>