@font-face {
  font-family: "Brutalist Mono";
  font-style: normal;
  font-weight: 400;
  src: url("/font/brutalist-mono/BrutalistMono.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Brutalist Mono";
  font-style: italic;
  font-weight: 400;
  src: url("/font/brutalist-mono/BrutalistMono-Oblique.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Brutalist Mono";
  font-style: normal;
  font-weight: 700;
  src: url("/font/brutalist-mono/BrutalistMono-Bold.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Brutalist Mono";
  font-style: italic;
  font-weight: 700;
  src: url("/font/brutalist-mono/BrutalistMono-BoldOblique.woff2")
    format("woff2");
  font-display: swap;
}
