.layout-about {
  padding-left: var(--size-pagePad);
  padding-right: var(--size-pagePad);
  max-width: var(--size-contentWidth);
  margin-left: auto;
  margin-right: auto;

  & > * {
    margin-top: var(--font-size-text-md);
  }
}

.footer {
  margin-top: 64px;
}
