@import "../foundation", "../partials", "../shortcodes";

.page-layout {
  display: flex;
  flex-direction: column;
}

.page-banner {
  margin-bottom: 16px;
  padding: 4px 0;

  font-family: var(--font-sans);
  font-size: var(--font-size-pageBanner);
  font-weight: normal;
  font-variant: all-small-caps;
  letter-spacing: 0.05em;
  text-align: center;

  background-color: var(--color-dark-PageBackground);
  color: var(--color-dark-textPrimary);
}

.page-footer {
  margin-top: 32px;
  padding: 16px var(--content-padding);

  display: flex;
  flex-direction: column;
  gap: var(--gap-footer);
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: var(--gap-footer);
}
