@import "../foundation", "../syntax", "../partials", "../shortcodes";

.footer {
  width: Min(
    var(--size-contentWidth),
    calc(var(--full-width) - 2 * var(--size-pagePad))
  );
  margin-left: auto;
  margin-right: auto;
}
