.layout-home {
  margin-top: 36px;

  display: grid;
  grid-template-columns:
    1fr
    Min(var(--size-contentWidth), calc(100% - 2 * var(--size-pagePad)))
    1fr;

  & > * {
    grid-column: 2;
  }

  & > .title {
    margin-bottom: 24px;
  }
}

.footer {
  margin-top: 48px;
}

.page-title {
  font-weight: normal;
  font-size: var(--font-size-heading-md);
  padding-bottom: 8px;
  border-bottom: 2px solid var(--color-border);
}

.post-list {
  list-style: none;
  padding: 0;

  & > .item + .item {
    margin-top: 36px;
  }
}

.post-entry {
  & > .title {
    margin-bottom: 8px;
    font-size: var(--font-size-heading-sm);
    font-weight: normal;
  }
}
