.layout-home {
  display: grid;
  grid-template-columns: 1fr Min(42ch, calc(100% - 2 * var(--content-padding))) 1fr;
  gap: 0 var(--content-padding);

  & > * {
    grid-column: 2;
  }
}

.page-main > section {
  padding-left: var(--content-padding);
  padding-right: var(--content-padding);
}

.section-title {
  margin-top: 40px;
  margin-bottom: 32px;
}

.post-list {
  padding: 0;
  list-style: none;
  gap: 32px;

  & > .post-list-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}
