.layout-single {
  margin-top: 16px;
  display: grid;
  grid-template-columns:
    [full-start]
    var(--size-pagePad)
    1fr
    [bleed-start]
    1fr
    [content-start]
    Min(
      var(--size-contentWidth),
      calc(var(--full-width) - 2 * var(--size-pagePad))
    )
    [content-end margin-start]
    1fr
    [margin-end bleed-end]
    1fr
    var(--size-pagePad)
    [full-end];

  & > * {
    grid-column: content;
  }

  & > .article-header {
    margin-bottom: 32px;
  }

  & > .shortcode-img,
  & > .highlight {
    grid-column: bleed;
  }

  p:not(:first-child),
  & > * {
    margin-top: 1em;
  }

  & > figure {
    margin-top: 32px;
    margin-bottom: 32px;
  }
}

.home-link {
  font-family: var(--font-sans);
  font-weight: normal;
  font-size: var(--font-size-text-sm);

  --color-link: var(--color-textSecondary);
  --color-linkVisited: var(--color-textSecondary);
}

.article-header {
  & > .article-title {
    margin-top: 24px;
  }
}

.footer {
  margin-top: 64px;
}
