.layout-single {
  display: grid;
  grid-template-columns:
    1fr
    Min(50ch, calc(100% - var(--content-padding) * 2))
    1fr;
  gap: 0 var(--content-padding);
  padding: 0 64px;

  & > * {
    grid-column: 2;
    margin-bottom: 1em;
  }

  & > .full-bleed {
    grid-column: 1 / -1;
  }

  & > .highlight {
    margin-right: -32px;
    margin-left: -32px;
  }

  & .article-title {
    margin-bottom: 12px;
  }

  & > h2 {
    margin-top: 24px;
  }

  & > blockquote > p {
    margin-bottom: 1em;
  }

  @media (max-width: calc(48ch + 64px)) {
    padding-left: 0;
    padding-right: 0;

    & > .highlight {
      margin: 0;
    }
  }
}

.signature {
  height: 72px;

  & > img {
    max-height: 100%;
    width: auto;
  }
}
