@import "../components/acknowledgements";

article {
  padding-left: var(--content-padding);
  padding-right: var(--content-padding);

  p {
    margin: 24px 0;
    line-height: 1.4;
  }

  figure {
    margin: 24px 0;
  }

  h2 {
    margin-top: 48px;
    margin-bottom: 24px;
  }
}

.signature {
  height: 72px;
}
