---
layout: layouts/root.njk
description: The home page of tonymottaz.com
---

<h1>tonymottaz.com</h1>

<ul class="post-list">
	{%- for post in collections.post | reverse -%}
		<li>
			<div class="post-list__item-layout">
				<time class="post-list__timestamp" datetime="{{ post.data.date | htmlDateString }}">{{ post.data.date | readableDate }}</time>
				<a class="post-list__link" href="{{post.url}}">
					<span class="post-list__title">{{ post.data.title }}</span>
				</a>
			</div>
		</li>
	{%- endfor -%}
</ul>