---
layout: layouts/root.liquid
description: The home page of tonymottaz.com
---

<h1>tonymottaz.com</h1>

<ul class="post-list">
  {%- for post in collections.post | reverse -%}
  <li>
    <a class="post-list__link" href="{{ post.url }}">
      <span class="post-list__title">{{ post.data.title }}</span>
    </a>
    &mdash;
    <time
      class="post-list__timestamp"
      datetime="{{ post.data.date | htmlDateString }}"
      >{{ post.data.date | readableDate }}</time
    >
  </li>
  {%- endfor -%}
</ul>
