---
layout: layouts/root.njk
---

<header>
	<h1>Tony Mottaz writes on the internet</h1>

	<nav>
		<ul>
			<li>
				<a href="/blog">Blog</a>
			</li>
			<li>
				<a href="/now">Now</a>
			</li>
			<li>
				<a href="/feed.xml">RSS</a>
			</li>
		</ul>
	</nav>
</header>

<main>
	<p>
		Hey there! I’m Tony.
	</p>
	<p>
		I am a front end software engineer, drumline instructor, and pourover coffee enthusiast. On
		my blog, you will mostly find technical posts about programming. Welcome to my little corner
		of the internet.
	</p>
</main>