@use "tokens";

$font-primary: Charter, Georgia, "Bitstream Charter", "Sitka Text", Cambria,
  serif;
$font-code: ui-monospace, "Commit Mono", "Cascadia Code", "Source Code Pro",
  Menlo, Consolas, "DejaVu Sans Mono", monospace;

$color-pageBackground: tokens.$gray-9;
$color-pageBackgroundDim: tokens.$gray-7;
$color-text: tokens.$gray-0;
$color-inlineCodeBg: tokens.$gray-7;
$color-border: tokens.$gray-3;
