$gray-0: hsl(213, 21%, 16%);
$gray-1: hsl(210, 19%, 25%);
$gray-2: hsl(210, 16%, 34%);
$gray-3: hsl(210, 11%, 59%);
$gray-4: hsl(210, 8%, 74%);
$gray-5: hsl(210, 6%, 85%);
$gray-6: hsl(210, 3%, 90%);
$gray-7: hsl(210, 3%, 94%);
$gray-8: hsl(210, 2%, 96%);
$gray-9: hsl(210, 1%, 98%);
