/*
If you want something to be visually hidden, but still accessible to screen readers, then you need
to apply a smattering of styles for this to work correctly. The MDN points out that `display: none`
will remove the element from the accessibility tree, and links to this article with a better
strategy: https://gomakethings.com/hidden-content-for-better-a11y/#hiding-the-link

The snippet below is copied from that article.
*/

/**
 * Visually hide an element, but leave it available for screen readers
 * @link https://github.com/h5bp/html5-boilerplate/blob/master/dist/css/main.css
 * @link http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 * @example
 * <label class="screen-reader" for="search">Search criteria</label>
 * <input type="text" id="search" name="search" value="">
 */
.screen-reader {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

/**
   * Extends the .screen-reader class to allow the element to be focusable when navigated to via the keyboard
   * @link https://github.com/h5bp/html5-boilerplate/blob/master/dist/css/main.css
   * @link https://www.drupal.org/node/897638
   * @example
   * <a class="screen-reader screen-reader-focusable" href="#main">Skip to the main content</a>
   */
.screen-reader-focusable:active,
.screen-reader-focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	white-space: normal;
	width: auto;
}

:root {
	font-size: 1.2rem;

	--font-family-main: Inter, Roboto, "Helvetica Neue", "Arial Nova",
		"Nimbus Sans", Arial, sans-serif;
	--font-family-mono: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo,
		Consolas, "DejaVu Sans Mono", monospace;
	--font-family-caption: Bahnschrift, "DIN Alternate",
		"Franklin Gothic Medium", "Nimbus Sans Narrow", sans-serif-condensed,
		sans-serif;
	--content-width: 66ch;

	--color-page-background: #eee;
	--color-text: #111;
	--color-codeBackgroundInline: #e0e0e0;
	--color-border: #777;
	/* Sync this with torchlight theme background */
	--color-codeBlockBackground: #1e1e1e;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: var(--font-family-main);
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	line-height: 1.6;
	padding: 1rem;
	max-width: 60ch;
	margin-inline: auto;

	background-color: var(--color-page-background);
	color: var(--color-text);
}

:is(h1, h2, h3, h4, h5, h6) {
	margin-top: 2.5em;
	margin-bottom: 1rem;
}
:is(h1, h2, h3, h4, h5, h6) + :is(h1, h2, h3, h4, h5, h6) {
	margin-top: 1.25rem;
}
h1 {
	font-size: 1.4rem;
}
h2 {
	font-size: 1.2rem;
}
h3 {
	font-size: 1.1rem;
}
h4 {
	font-size: 1rem;
}

header time {
	font-size: 0.9rem;
}

a {
	text-underline-offset: 2px;
}

hr {
	border: none;
	text-align: center;
	margin-block: 2rem;
}
hr::after {
	content: "* * *";
}

img {
	max-width: 100%;
	height: auto;
}

figcaption {
	font-family: var(--font-family-caption);
	line-height: 1.2;
}

time {
	font-family: var(--font-family-caption);
}

code {
	font-family: var(--font-family-mono);
}

code:not(pre > code):not(h1 code):not(h2 code):not(h3 code):not(h4 code) {
	background-color: var(--color-codeBackgroundInline);
	padding: 0.125em 0.25em;
	border-radius: 0.25em;
	font-size: 0.9rem;
}

.site-nav > ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	gap: 32px;
}

.site-footer {
	margin-top: 3rem;
	padding-block: 1rem;
	border-top: 2px dotted;
	border-color: var(--color-border);
}

.post-list {
	margin: 0;
	padding: 0;
	list-style: none;

	display: flex;
	flex-direction: column;
	gap: 40px;
}

.post-layout {
	display: flex;
	flex-direction: column;
}

.post-date {
	font-size: 0.9rem;
}

.remark-code-container {
	margin-block: 1rem;
	display: flex;
	flex-direction: column;
}

.remark-code-container > .remark-code-title {
	border: 2px solid var(--color-codeBlockBackground);
	background-color: var(--color-codeBackgroundInline);
	padding: 4px;
	align-self: start;
	font-size: 0.9rem;
	transform: translateY(2px);
}

.remark-code-container pre {
	padding: 4px;
	margin: 0;
	font-size: 0.9rem;
	tab-size: 4;
	overflow-x: auto;
}
