/*
If you want something to be visually hidden, but still accessible to screen readers, then you need
to apply a smattering of styles for this to work correctly. The MDN points out that `display: none`
will remove the element from the accessibility tree, and links to this article with a better
strategy: https://gomakethings.com/hidden-content-for-better-a11y/#hiding-the-link

The snippet below is copied from that article.
*/

/**
 * Visually hide an element, but leave it available for screen readers
 * @link https://github.com/h5bp/html5-boilerplate/blob/master/dist/css/main.css
 * @link http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 * @example
 * <label class="screen-reader" for="search">Search criteria</label>
 * <input type="text" id="search" name="search" value="">
 */
.screen-reader {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

/**
   * Extends the .screen-reader class to allow the element to be focusable when navigated to via the keyboard
   * @link https://github.com/h5bp/html5-boilerplate/blob/master/dist/css/main.css
   * @link https://www.drupal.org/node/897638
   * @example
   * <a class="screen-reader screen-reader-focusable" href="#main">Skip to the main content</a>
   */
.screen-reader-focusable:active,
.screen-reader-focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	white-space: normal;
	width: auto;
}

:root {
	font-size: 1.2rem;

	--font-family-main: Inter, Roboto, "Helvetica Neue", "Arial Nova",
		"Nimbus Sans", Arial, sans-serif;
	--font-family-mono: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo,
		Consolas, "DejaVu Sans Mono", monospace;
	--content-width: 66ch;
}

body {
	font-family: var(--font-family-main);
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	line-height: 1.4;
}

a {
	text-underline-offset: 2px;
}

.layout {
	padding-block: 48px;
	padding-inline-start: 64px;
	max-width: var(--content-width);
}

.link-list {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	font-family: "JetBrains Mono", monospace;
}
.link-list > .link-item + .link-item::before {
	content: "•";
	margin-inline: 12px;
}
