*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-size: 1.2rem;
	font-kerning: normal;
	font-family: var(--font-family-main);
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	line-height: 1.6;
	word-break: break-word;
}

@supports (hanging-punctuation: first) {
	html {
		hanging-punctuation: first;
	}
}

body {
	padding: 1rem;
	max-width: 60ch;
	margin-inline: auto;

	background-color: var(--color-page-background);
	color: var(--color-text);
}

:is(h1, h2, h3, h4, h5, h6) {
	margin-top: 2.5em;
	margin-bottom: 1rem;
}
:is(h1, h2, h3, h4, h5, h6) + :is(h1, h2, h3, h4, h5, h6) {
	margin-top: 1.25rem;
}
h1 {
	font-size: 1.4rem;
}
h2 {
	font-size: 1.2rem;
}
h3 {
	font-size: 1.1rem;
}
h4 {
	font-size: 1rem;
}

a {
	text-underline-offset: 2px;
}

hr {
	border: none;
	text-align: center;
	margin-block: 2rem;
}
hr::after {
	content: "* * *";
}

img {
	max-width: 100%;
	height: auto;
}

figcaption {
	font-family: var(--font-family-caption);
	line-height: 1.2;
}

time {
	font-family: var(--font-family-caption);
}

aside {
	margin-block: 1.5rem;
	border: 1px solid var(--color-border);
	border-left-width: 8px;
	border-radius: var(--radius-md);
	padding: 0.8rem;
	font-size: 0.9rem;
	line-height: 1.3;
}
aside > h3 {
	font-size: 1.4em;
	font-variant: all-small-caps;
	margin: 0;
}
aside > *:first-child {
	margin-top: 0;
}
aside > *:last-child {
	margin-bottom: 0;
}

code {
	font-family: var(--font-family-mono);
}

code:not(pre > code):not(h1 code):not(h2 code):not(h3 code):not(h4 code) {
	background-color: var(--color-codeBackgroundInline);
	padding: 0.125em 0.25em;
	border-radius: 0.25em;
	font-size: 0.9rem;
}
