:root {
	--font-family-main: Bitter, Charter, "Bitstream Charter", "Sitka Text",
		Cambria, serif;
	--font-family-mono: "Brutalist Mono", ui-monospace, "Cascadia Code",
		"Source Code Pro", Menlo, Consolas, "DejaVu Sans Mono", monospace;
	--font-family-caption: "Work Sans", system-ui, sans-serif;
	--content-width: 66ch;

	--color-page-background: #eee;
	--color-text: #111;
	--color-codeBackgroundInline: #e0e0e0;
	--color-border: #777;
	/* Sync this with torchlight theme background */
	--color-codeBlockBackground: #1e1e1e;

	--radius-md: 8px;
}
