.acknowledgements {
  font-size: 90%;

  & > .title {
    margin-top: 24px;
    margin-bottom: 12px;
  }

  & > .list {
    margin: 16px 0;
  }

  & > .list > .item:not(:last-child) {
    margin-bottom: 12px;
  }
}
