{{ define "head" }}
  <meta name="description" content="The home page of Tony Mottaz" />

  {{ $styles := resources.Get "layouts/home.scss" | resources.ToCSS | resources.PostCSS }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}" />
{{ end }}

{{ define "main" }}
  <section class="layout-home">
    <h1 class="title page-title">Tony's Blog</h1>

    <ul class="post-list">
      {{ range where .Site.RegularPages.ByDate.Reverse "Section" "posts" }}
        <li class="item post-entry">
          <h2 class="title">
            <a class="link" href="{{ .Permalink }}">{{ .Title }}</a>
          </h2>
          <time class="timestamp" datetime="{{ .Date }}"
            >{{ .PublishDate.Format "2 January 2006" }}</time
          >
        </li>
      {{ end }}
    </ul>
  </section>
{{ end }}
