{{ define "head" }}
  <meta name="description" content="The home page of Tony Mottaz" />

  {{ $styles := resources.Get "layouts/home.scss" | resources.ToCSS | resources.PostCSS }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}" />
{{ end }}

{{ define "main" }}
  <section class="layout-home">
    <h2 class="section-title">Blog Posts</h2>

    <ul class="post-list">
      {{ range where .Site.RegularPages.ByDate.Reverse "Section" "posts" }}
        <li class="post-list-item">
          <h3 class="post-title">
            <a href="{{ .Permalink }}">{{ .Title }}</a>
          </h3>
          <time datetime="{{ .Date }}"
            >{{ .PublishDate.Format "2 January 2006" }}</time
          >
          <p class="summary">
            {{ .Summary }}
          </p>
        </li>
      {{ end }}
    </ul>
  </section>
{{ end }}
