{{ define "head" }}
  <meta name="description" content="{{ .Title }}" />

  {{ $styles := resources.Get "layouts/list.scss" | resources.ToCSS | resources.PostCSS }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}" />
{{ end }}

{{ define "body" }}
  <main>
    <header>
      <h1>{{ .Title }}</h1>
      <nav>
        <a href="/">← Back to home</a>
      </nav>
    </header>

    <ul>
      {{ range .Pages.ByDate.Reverse }}
        <li>
          <a href="{{ .Permalink }}">{{ .Title }}</a>
          <p>
            <time datetime="{{ .Date }}"
              >{{ .PublishDate.Format "2 January 2006" }}</time
            >—{{ .Summary }}
          </p>
        </li>
      {{ end }}
    </ul>
  </main>
{{ end }}
