{{ define "head" }}
  <meta name="author" content="Tony Mottaz" />
  <meta name="description" content="{{ .Summary }}" />

  {{ $styles := resources.Get "layouts/single.scss" | resources.ToCSS | resources.PostCSS }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}" />
{{ end }}

{{ define "title" }}{{ .Title }} · {{ .Site.Title }}{{ end }}

{{ define "body" }}
  <main>
    <article class="layout-article">
      <header>
        <h1>
          {{ .Title }}
        </h1>
        {{ with .Params.subtitle }}
          <p>
            {{ . }}
          </p>
        {{ end }}
        <p>Written by <a href="/">Tony Mottaz</a></p>
        <time datetime="{{ .Date }}">
          {{ .PublishDate.Format "2 January 2006" }}
        </time>
      </header>

      {{ .Content }}

    </article>

    {{ with .Params.acknowledgements }}
      <section>
        <h2>Acknowledgements</h2>
        <p>I would like to extend my gratitude to the following people:</p>
        <ul>
          {{ range . }}<li>{{ . | markdownify }}</li>{{ end }}
        </ul>
      </section>
    {{ end }}
  </main>

  <footer>
    <p
      xmlns:dct="http://purl.org/dc/terms/"
      xmlns:cc="http://creativecommons.org/ns#"
    >
      <a rel="cc:attributionURL" property="dct:title" href="{{ .Permalink }}">
        “{{ .Title }}”</a
      >
      by
      <a
        rel="cc:attributionURL dct:creator"
        property="cc:attributionName"
        href="{{ .Site.BaseURL }}"
        >Tony Mottaz</a
      >
      is licensed under
      <a rel="license" href="https://creativecommons.org/licenses/by/4.0"
        >CC BY 4.0</a
      >
    </p>
    <nav>
      <a href="/">← Back to home</a>
    </nav>
  </footer>
{{ end }}
