{{ define "head" }}
  <meta name="author" content="Tony Mottaz" />
  <meta name="description" content="{{ .Summary }}" />

  {{ $styles := resources.Get "layouts/single.scss" | resources.ToCSS | resources.PostCSS }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}" />
{{ end }}

{{ define "title" }}{{ .Title }} · {{ .Site.Title }}{{ end }}

{{ define "main" }}
  <article class="layout-single article">
    <header class="article-header">
      <a class="home-link" href="/">← Tony’s Blog</a>
      <h1 class="article-title">
        {{ .Title }}
      </h1>
      {{ with .Params.subtitle }}
        <p>
          {{ . }}
        </p>
      {{ end }}
      <time class="timestamp" datetime="{{ .Date }}">
        {{ .PublishDate.Format "2 January 2006" }}
      </time>
    </header>

    {{ .Content }}

    {{ partial "acknowledgements" . }}

  </article>
{{ end }}
