@use "highlight.js/styles/a11y-light.css";

$gray-0: hsl(213, 21%, 16%);
$gray-1: hsl(210, 19%, 25%);
$gray-2: hsl(210, 16%, 34%);
$gray-3: hsl(210, 11%, 59%);
$gray-4: hsl(210, 8%, 74%);
$gray-5: hsl(210, 6%, 85%);
$gray-6: hsl(210, 3%, 90%);
$gray-7: hsl(210, 3%, 94%);
$gray-8: hsl(210, 2%, 96%);
$gray-9: hsl(210, 1%, 98%);

$color-fg: $gray-0;
$color-bg: $gray-9;
$color-bgDim: $gray-7;
$color-border: $gray-5;

$text-xs: 0.8rem;
$text-sm: 0.9rem;
$text-md: 1rem;
$text-lg: 1.15rem;
$text-xl: 1.3rem;
$text-xxl: 1.5rem;

$font-primary: Charter, Georgia, "Bitstream Charter", "Sitka Text", Cambria,
  serif;
$font-secondary: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans",
  Arial, sans-serif;
$font-code: ui-monospace, "Commit Mono", "Cascadia Code", "Source Code Pro",
  Menlo, Consolas, "DejaVu Sans Mono", monospace;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  padding-inline-start: 40px;
}

html {
  font-kerning: normal;
  font-family: $font-primary;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  word-break: break-word;

  @media (min-width: 30em) {
    font-size: 120%;
  }
  @media (min-width: 40em) {
    font-size: 140%;
  }
}

body {
  background-color: $color-bg;
  color: $color-fg;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  min-height: 100vh;
}

a {
  text-underline-offset: 2px;
}

img {
  max-width: 100%;
  height: auto;
}

hr {
  margin-block: 0.5rem;
  border: none;
  border-top: 1px solid $color-border;
}

code {
  font-family: $font-code;

  /* Styles for inline code within normal text content. */
  &:not(pre > code):not(h1 code):not(h2 code):not(h3 code):not(h4 code) {
    background-color: $color-bgDim;
    padding: 0.125em 0.25em;
    border-radius: 0.25em;
    font-size: 0.9rem;
  }

  pre > &[class^="language-"] {
    font-size: $text-xs;
  }
}

pre:has(> code[class^="language-"]) {
  border: 2px solid $gray-2;
  padding: 4px;
}

/**
  * Visually hide an element, but leave it available for screen readers
  * @link https://github.com/h5bp/html5-boilerplate/blob/master/dist/css/main.css
  * @link http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
  * @example
  * <label class="_screen-reader" for="search">Search criteria</label>
  * <input type="text" id="search" name="search" value="">
  */
._screen-reader {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;

  /**
    * Extends the ._screen-reader class to allow the element to be focusable when navigated to via
    * the keyboard.
    * @link https://github.com/h5bp/html5-boilerplate/blob/master/dist/css/main.css
    * @link https://www.drupal.org/node/897638
    * @example
    * <a class="_screen-reader -focusable" href="#main">Skip to the main content</a>
    */
  &.-focusable {
    &:active,
    &:focus {
      clip: auto;
      height: auto;
      margin: 0;
      overflow: visible;
      position: static;
      white-space: normal;
      width: auto;
    }
  }
}

/* subtle links have the text color and no decorations except on hover */
._subtle-link {
  color: currentColor;
  text-decoration-line: none;

  &:visited {
    color: currentColor;
  }

  &:hover,
  &:focus-visible {
    text-decoration-line: underline;
  }
}

._no-bullets {
  list-style: none;
  padding: 0;
}

.root-header {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  gap: 8px 48px;
  flex-wrap: wrap;
  border-bottom: 1px solid $color-border;

  .title {
    font-weight: bold;
  }

  .nav-list {
    display: flex;
    gap: 8px 24px;
    flex-wrap: wrap;
  }
}

.root-main-layout {
  padding: 36px 16px;
  max-width: 60ch;
  margin-inline: auto;

  .post-header {
    margin-bottom: 64px;
  }
}

.root-footer {
  padding: 24px;
  margin-top: auto;
  background-color: $color-bgDim;
  display: flex;
  flex-direction: column;
  gap: 24px;

  .title {
    font-size: $text-md;
  }

  .link-list {
    font-size: $text-sm;
    line-height: 1.3;
  }
}

.post-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.post-list-layout {
  display: flex;
  flex-direction: column;
  gap: 4px;

  & > .date {
    font-size: $text-xs;
  }
}

.post-header {
  .title {
    font-size: $text-xxl;
  }
  .timestamp {
    font-size: $text-xs;
  }
  .subtitle {
    font-size: $text-xs;
  }
}

.prose {
  line-height: 1.5;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.2;
    margin-block-start: 1.5em;
    margin-block-end: 1em;
  }
  h2 {
    font-size: $text-lg;
  }
  h3 {
    font-size: $text-md;
  }
  h4 {
    font-size: $text-sm;
  }

  p {
    margin-block: 1rem;
  }

  pre:has(> code[class^="language-"]) {
    margin-block: 1rem;
  }

  aside {
    border: 2px solid $color-border;
    padding: 16px;
    background-color: $color-bgDim;
    font-family: $font-secondary;
    font-size: $text-sm;

    & > *:first-child {
      margin-top: 0;
    }
    & > *:last-child {
      margin-bottom: 0;
    }
  }
}

.image-figure {
  margin: 0.75rem auto;
  max-width: 600px;

  .caption-text {
    font-family: $font-secondary;
    font-size: $text-sm;
    line-height: 1.2;
    max-width: 40ch;
    margin-inline: auto;
  }
}
