.marginnote-label {
  color: var(--color-noteIcon);
  padding-right: 0.5ch;
}

.marginnote-input {
  display: none;
}

.marginnote-text {
  display: none;

  .marginnote-input:checked + & {
    display: block;
    float: left;
    clear: both;
    padding: 1em 5% 1em 7%;
    font-size: 1rem;
    color: var(--color-textSecondary);
    line-height: var(--line-height-tight);
  }
}
