---
layout: layouts/base.njk
title: Oops! This page was not found
permalink: 404.html
---

<h1>{{title}}</h1>

<p>Go back to the <a href="/">home page</a>.</p>
<p style="max-width: 34ch">
    If you think this was a mistake or that this is a broken URL, please
    <a href="mailto:issues@tonymottaz.com?subject=Broken%20URL%20on%20tonymottaz.com"
    >contact me by email</a>
    at <strong>issues@tonymottaz.com</strong> to let me know.
</p>