---
layout: layouts/post.njk
title: About
date: false
---

<h2>About me</h2>

<p>
    Hello! I’m Tony.
</p>
<p>
    I am never sure which words to use to describe my professional job, but I think I have settled
    on “web app programmer”. My official title is "Staff Software Engineer", in case those words
    mean something to you.
</p>
<p>
    Outside of work, I am a regular dude living in Minnesota. I am engaged to a wonderful woman. I
    take my coffee and music way too seriously. I have played the drums for my entire life, and
    taught drumline percussion on-and-off for about a third of my life.
</p>
<p>
    I aspire to write blog posts on this website. However, the scales are heavily tipped towards
    <em>building</em> the site, and thus far I have not done as much writing as I would like. I do
    have plenty of drafts started. If I ever feel satisfied with how this site is built, then I hope
    to publish more frequently.
</p>

<h2>About this website</h2>

<p>
    This website is built using <a href="https://www.11ty.dev/">the 11ty static site generator</a>.
    I chose 11ty because it provides me with the perfect balance between coding my site manually and
    automating some of the tedious aspects of a fully vanilla website. I can write in vanilla HTML,
    CSS, and JavaScript; the framework takes care of my RSS feed, browser support, and shared
    markup.
</p>
<p>
    I have taken great care to make the source code of this website clean and easy to read. This is
    true both in the actual
    <a href="https://github.com/awmottaz/tonymottaz.com">source code of this website</a>,
    as well as the built code. There is no minification or “uglification” here—just nicely-formatted
    code for humans.
</p>
<p>
    Also, this website is <em>fast as heck</em>. Look at your network tab. There are no custom
    fonts. All of the CSS is inlined. All you get is a single document a few kilobytes long.
</p>
<p>
    I am very proud of this.
</p>

<h3>Accessibility statement</h3>

<p>
    I would like this website to be usable by the widest possible audience, regardless of device,
    browser, network speed, or ability. As such, I strive to meet the level AA standards outlined
    in the
    <a href="https://www.w3.org/TR/WCAG22/">Web Content Accessibility Guidelines (WCAG) 2.2.</a>
</p>
<p>
    If you have any issues using this website, please
    <a href="mailto:issues@tonymottaz.com?subject=Accessibility%20inquiry%20on%20tonymottaz.com"
    >contact me by email</a>
    at <strong>issues@tonymottaz.com</strong>. I take these issues seriously and will try to remedy
    the problem as quickly as I can.
</p>