---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">

  <title>{{ site.title }}</title>
  <subtitle>{{ site.description }}</subtitle>
  <link
    rel="self"
    type="application/atom+xml"
    href="{{ permalink | absoluteUrl(site.url) }}"/>
  <link
    rel="alternate"
    type="text/html"
    hreflang="en"
    href="{{ site.url }}"/>
  <link href="{{ site.url }}"/>
  <updated>{{ collections.post | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <author>
    <name>{{ site.author.name }}</name>
  </author>
  <id>{{ site.url }}</id>

  {%- for post in collections.post | reverse %}
    {%- set absolutePostUrl = post.url | absoluteUrl(site.url) %}

    <entry>
      <title>{{ post.data.title }}</title>
      <link
        rel="alternate"
        type="text/html"
        href="{{ absolutePostUrl }}"/>
      <id>{{ absolutePostUrl }}</id>
      <updated>{{ post.date | dateToRfc3339 }}</updated>
      <published>{{ post.date | dateToRfc3339 }}</published>
      <content
        type="html"
        xml:lang="{{ site.language }}"
        xml:base="{{ site.url }}">
        {{ post.templateContent | processHtmlForFeed(absolutePostUrl) | escape }}
      </content>
    </entry>

  {%- endfor %}
</feed>