---
layout: layouts/base.njk
description: A list of Tony Mottaz's blog posts
---

<main>
    <h1>Tony Mottaz’s Blog</h1>

    <nav>
        <p>
            The <a href="/about">about page</a> has information about me and about this website.
        </p>
        <p>
            You can also see <a href="/now">what I’m doing now</a>.
        </p>
    </nav>

    <h2>All blog posts</h2>

    <ul>
        {% for post in collections.posts | reverse %}
            <li>
                <a href="{{post.url}}">{{post.data.title}}</a>
            </li>
        {% endfor %}
    </ul>
</main>