---
layout: layouts/root.njk
description: The home page of tonymottaz.com
---
<p>
  Hi! I'm Tony. I am a front end web developer based in Minnesota.
</p>
<p>
  This is my personal website. I write <a href="/blog">blog posts</a> occasionally, and sometimes include some
  other stuff, too. You can read more about this site in the <a href="/about">about page</a>.
</p>

<h2>Most recent blog posts</h2>

<aside>
  <p>
    <em>See the <a href="/blog">full blog post archive</a>
    </em>
  </p>
</aside>

{% set post_list = collections.post | reverse | limit(3) %}
<ul class="post-list _no-bullets">
  {%- for post in post_list -%}
    <li>
      <div class="post-list-layout">
        <div class="title">
          <a href="{{ post.url }}">
            <span class="link-text">{{ post.data.title }}</span>
          </a>
        </div>
        <div class="date">
          <time class="post-list__timestamp" datetime="{{ post.data.date | htmlDateString }}">
            {{ post.data.date | readableDate }}
          </time>
        </div>
      </div>
    </li>
  {%- endfor -%}
</ul>