---
layout: layouts/root.njk
---

<header>
	<nav class="breadcrumbs">
		<a href="/">Tony Mottaz</a>
		<a href="/blog">Blog posts</a>
		<time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
	</nav>
</header>

<main>
	<h1>{{ title }}</h1>
	{{ content | safe }}
</main>