---
layout: layouts/root.njk
---

<div class="post-page-layout">
	<header>
		<h1 class="post-title">{{ title }}</h1>
		{% if date %}
			<time datetime="{{ date | htmlDateString}}">{{date | readableDate}}</time>
		{% endif %}
	</header>
	{{ content | safe }}
</div>