<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or site.title }}</title>

		<meta name="generator" content="{{ eleventy.generator }}">

		<link rel="me" href="https://fosstodon.org/@tonymottaz"/>

		<link rel="alternate" type="application/rss+xml" title="RSS Feed for tonymottaz.com" href="/feed.xml"/>

		<link rel="preconnect" href="https://fonts.bunny.net">
		<link href="https://fonts.bunny.net/css?family=jetbrains-mono:400" rel="stylesheet"/>

		{%- css %}{% include "static/css/index.css" %}{% endcss %}

		<style>
			{% getBundle "css" %}
		</style>
	</head>
	<body>
		<div class="layout">{{ content | safe }}</div>
	</body>
</html>