{{/* This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/}}

{{/* Properly formatted blockquote sections.
  source: URL to source of the quote.
  credit?: Name of the person or book citation associated with the quote.
  inner: The quote content.
*/}}


<blockquote cite="{{ .Get "source" }}">
  {{ .Inner | .Page.RenderString (dict "display" "block") }}
  {{ if .Get "credit" }}
    <footer><a href="{{ .Get "source" }}">{{ .Get "credit" }}</a></footer>
  {{ end }}
</blockquote>
