<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="me" href="https://fosstodon.org/@tonymottaz"/>

        <!-- <link rel="alternate" type="application/rss+xml" title="Example" href="/rss.xml"> -->

        <title>Tony Mottaz</title>
    </head>
    <body>
        <nav>
            <h1>Tony Mottaz</h1>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/now">Now</a>
                </li>
            </ul>
        </nav>
    </body>
</html>